
.logodash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.logodash img {
  max-width: 100%;
  border-radius: 50%;
}
  
  .logo1{
    top:50px;
    display:flex;
    justify-content:center;
  }
  
  .background {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #F1F1F1;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h2 {
    color: #2D5882;
    margin-bottom: 10px;
  }
  
  .login-header span {
    color: #2D5882;
  }
  
  .login-header p {
    font-size: 14px;
    opacity: 0.7;
  }
  
  .login-form {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
  }
  
  .input-group i {
    margin-right: 10px;
    color: #2D5882;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border-width: 1px;
    
    border-radius: 5px;
    background-color: transparent;
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    opacity: 0.7;
    display: flex;
    align-items: center;
  }
  
  .forgot-password {
    color: #2D5882;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.7;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #2D5882, #6b92b8);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: linear-gradient(to right, #2D5882, #6b92b8);
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.7;
  }
  
  .signup-link a {
    color: #61dafb;
    text-decoration: none;
  }

  .custom-bg-color {
    background-color: #2D5882; /* Remplacez #ff0000 par le code hexadécimal de la couleur souhaitée */
  }
  

 
